/* MAINCOLOR(LIGHT) : #92B4EC */
/* MAINCOLOR(DARK) : #FFE69A: */

/* NAVLINKS */
.nav {
  margin-bottom: 10px;
}

.active {
  color: #F5D748;
  text-decoration: none;
}

/* COMMONS */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

li {
  margin-bottom: 10px;
}


/* LIGHT MODE */
.mainL {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Gamja Flower";
  overflow: scroll;
  padding: 30px;
}

.aL {
  color: black;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  word-break: break-all;
}

.aL:visited {
  color: #92B4EC;
}

.textL {
  color: black;
}

/* DARK MODE */
.mainD {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Gamja Flower";
  overflow: scroll;
  padding: 30px;
}

.aD {
  color: white;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  word-break: break-all;
}


.aD:visited {
  color: #FFE69A;
}


.textD {
  color: white;
}

/* CONTACT DIV */
.contact {
  font-size: 13px;
  margin-left: 30px;
}

/* DETAIL DIV */
.div-detail {
  width: 100%;
  overflow: auto;
}