/* MAINCOLOR : #8879B0 */
/* NAVLINKS */
.nav {
  margin-bottom: 10px;
}

.active {
  color: #F5D748;
  text-decoration: none;
}

/* COMMONS */
.mainL {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Gamja Flower";
  overflow: scroll;
  padding: 30px;
}

.mainD {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Gamja Flower";
  overflow: scroll;
  padding: 30px;
}


a {
  color: black;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  word-break: break-all;
}

a:visited {
  color: #92B4EC;
}

li {
  margin-bottom: 10px;
}


/* CONTACT DIV */
.contact {
  font-size: 13px;
  margin-left: 30px;
  line-height: 0.8;
}

/* DETAIL DIV */
.div-detail {
  width: 100%;
  overflow: auto;
}
