/* NAVLINKS */
.nav {
  margin-bottom: 10px;
}

.active {
  color: #748DA6;
  text-decoration: none;
}

/* .default {
  color: black;
  text-decoration: none;
} */

a {
  color: black;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  word-break: break-all;
}

a:visited {
  color: #748da6;
}

/* CONTACT DIV */
.contact {
  font-size: 13px;
  margin-left: 30px;
  line-height: 0.8;
}
